nav.blog-post-list ol {
	& > li {
		& > .post-year-heading {
			text-align: end;
			margin-block-start: var(--size-32);
		}

		& > .post-year-heading + ol {
			margin-block-start: var(--size-4);

			& > li > details {
				&[open] {
					.closed-icon {
						display: none;
					}
				}

				&:not([open]) {
					.open-icon {
						display: none;
					}
				}

				& > summary {
					display: flex;
					align-items: center;
					margin-block: var(--size-4);
					margin-inline-start: calc(var(--size-8) * -1);

					&:focus-visible {
						outline: none;

						& > .trigger {
							background: var(--color-hover);
							outline: var(--border);
							outline-offset: -1px;
						}
					}

					& > .trigger {
						height: var(--size-24);
						width: var(--size-24);
						display: grid;
						place-content: center;
						border-radius: var(--border-radius);
						cursor: pointer;
						transition: background var(--transition-speed);

						&:is(:hover, :focus-visible) {
							background: var(--color-hover);
						}

						& svg {
							width: var(--size-20);
							stroke-width: 1.5;
						}
					}

					& > a {
						flex: auto;
						display: grid;
						grid-template-columns: auto 1fr auto;
						column-gap: var(--size-16);
						align-items: baseline;
						font: var(--font-body);
						line-height: 1rem;
						padding: var(--size-4) var(--size-6);
						margin-inline-end: calc(var(--size-6) * -1);

						& .title {
							letter-spacing: var(--letter-spacing-body);
						}

						& .spacer {
							border-block-end: 1px solid var(--color-border);
						}

						& .publication-date {
							font-family: var(--font-family-code);
							color: var(--color-subtle);
							font-weight: 400,;
						}
					}
				}

				& > p.description {
					margin-block-end: var(--size-24);
				}
			}
		}
	}
}
