.code-wrapper {
	background: var(--color-body);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	overflow: hidden;

	& > .scroll-container {
		--shadow-color: 40 15% 10%;
		overflow: auto;
		scroll-timeline: --scroll-timeline inline;
		display: flex;
		scrollbar-color: var(--color-subtle) var(--color-body);

		& > .left-shadow {
			position: sticky;
			left: 0;
			width: 32px;
			margin-inline-start: -32px;
			animation: reveal linear both;
			animation-range: 0 8px;
			animation-timeline: --scroll-timeline;
			opacity: 0;
			flex: none;
			box-shadow: 3px 0 3px hsl(var(--shadow-color) / 1);
		}

		& > .left-border {
			position: sticky;
			left: 0;
			flex: none;
			border-inline-end: 1px solid var(--color-subtle);
			z-index: 1;
		}

		& > .pre {
			padding: var(--size-8);

			&.line-numbers {
				padding-inline-start: 0;
			}
		}

		& > .right-shadow {
			position: sticky;
			right: 0;
			width: 6px;
			animation: reveal linear both;
			animation-range: calc(100% - 8px) 100%;
			animation-direction: reverse;
			animation-timeline: --scroll-timeline;
			opacity: 0;
			flex: none;
			background-image: linear-gradient(
				90deg,
				hsl(var(--shadow-color) / 0%) 0%,
				hsl(var(--shadow-color) / 15%) 30%,
				hsl(var(--shadow-color) / 30%) 40%,
				hsl(var(--shadow-color) / 70%) 60%,
				hsl(var(--shadow-color) / 95%) 75%,
				hsl(var(--shadow-color))
			);
		}
	}
}
