.code-wrapper {
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);

	& pre {
		font-size: var(--font-size-code);
	}

	& code {
		font-family: var(--font-family-code);
		font-size: var(--font-size-code);
	}
}

.pre {
	background: var(--color-body);
	padding: var(--size-8);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}

.line {
	display: flex;

	& .line-number {
		color: var(--color-subtle);
		user-select: none;
		margin-inline-end: 1em;
		text-align: right;
	}
}
