.code-wrapper {
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);

	& pre {
		border: 1px solid hsl(40deg 10% 50% / 20%);
		border-radius: var(--border-radius);
		font-size: var(--font-size-code);
	}

	& code {
		font-family: var(--font-family-code);
		font-size: var(--font-size-code);
	}
}
