article.blog-post-preview {
	margin-block-end: var(--size-16);

	& > header {
		margin-block-end: var(--size-4);

		& > h2 {
			font-size: var(--size-16);

			& > a {
				--block-padding: var(--size-3);
				--inline-padding: var(--size-6);
				padding: var(--block-padding) var(--inline-padding);
				margin: calc(var(--block-padding) * -1) calc(var(--inline-padding) * -1);
			}
		}
	}

	& > .description-wrapper {
		position: relative;

		& > p {
			overflow: hidden;
			height: 4rem;
		}

		& > .more-wrapper {
			position: absolute;
			right: 0;
			bottom: 0;
			background: linear-gradient(
				90deg,
				transparent 0%,
				hsl(var(--color-surface-values) / 0.5) 25%,
				hsl(var(--color-surface-values)) 50%
			);
			font: var(--font-subtle);
			color: var(--color-subtle);
			width: var(--size-48);
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 2rem;
			width: var(--size-160);

			& > a {
				padding: var(--size-3) var(--size-6);
				margin-inline-end: calc(var(--size-6) * -1);
				display: flex;
				align-items: center;
				gap: var(--size-4);

				& > svg {
					height: var(--size-12);
					width: var(--size-12);
					margin-inline-end: -1.5px;
				}
			}
		}
	}

	& > footer {
		margin-block-start: var(--size-4);
		text-align: end;

		& * {
			font-size: var(--font-size-subtle);
		}
	}
}
