article.blog-post-preview {
	margin-block-end: var(--size-48);

	& > header {
		margin-block-end: var(--size-6);

		& > h2 {
			font-size: var(--size-18);
		}
	}

	& > footer {
		margin-block-start: var(--size-16);

		& * {
			font-size: var(--font-size-subtle);
		}
	}
}
