.bookend {
	color: var(--color-subtle);
	font-family: var(--font-family-code);
	font-size: var(--font-size-subtle);
	text-align: center;
	line-height: 1rem;
	user-select: none;

	&[data-variant='start'] {
		margin-block: var(--size-64) var(--size-32);
	}

	&[data-variant='end'] {
		margin-block: var(--size-32) var(--size-64);
	}
}
