.header {
	grid-column: 1 / -1;
	grid-row: 1;
	display: grid;
	grid-template-columns: subgrid;
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--color-surface);
	line-height: 1rem;
	margin-block-start: var(--size-48);

	&::before {
		content: '';
		box-shadow: var(--shadow);
		height: var(--size-32);
		position: absolute;
		bottom: 0;
		width: 100%;
		animation: reveal linear both;
		animation-range: 48px 64px;
		animation-timeline: --layout-scroll-timeline;
		opacity: 0;
		pointer-events: none;
	}

	& > nav {
		grid-column: 2;
		height: 1rem;

		& > ul {
			display: flex;
			align-items: center;
			gap: var(--size-3);

			& * {
				font-family: var(--font-family-code);
				font-size: var(--font-size-body);
				font-weight: 400;
				letter-spacing: 0.01em;
			}

			& > li {
				--inline-padding: var(--size-6);
				margin-block: calc(var(--size-4) * -1);

				&:first-child {
					margin-right: auto;
					margin-inline-start: calc(var(--inline-padding) * -1);
				}

				&:last-child {
					margin-inline-end: calc(var(--inline-padding) * -1);
				}
			}
		}
	}
}
