.button {
	color: var(--color-subtle);
	font-family: var(--font-family-code);
	font-weight: 400;
	transition: background var(--transition-speed);
	border-radius: var(--border-radius);
	background: none;
	border: none;
	cursor: pointer;
	padding: var(--size-4) var(--size-6);
	line-height: 1rem;

	&:is(:hover, :focus-visible) {
		background: var(--color-hover);
	}

	&:focus-visible {
		outline: var(--border);
		outline-offset: -1px;
	}

	&:has(svg:only-child) {
		padding: var(--size-4);
		display: inline-grid;
		place-content: center;

		& > svg {
			height: var(--size-16);
			width: var(--size-16);
			display: block;
		}
	}
}
