.link {
	color: inherit;
	text-decoration: none;
	transition: background var(--transition-speed);
	border-radius: var(--border-radius);
	background: none;
	border: none;
	cursor: pointer;
	padding: var(--size-4) var(--size-6);
	line-height: 1rem;

	&:is(:hover, :focus-visible) {
		background: var(--color-hover);
	}

	&:focus-visible {
		outline: var(--border);
		outline-offset: -1px;
	}
}

.header > nav > ul > li .link {
	padding: var(--size-4) var(--inline-padding);
	display: block;
}

.popover-panel[popover]:has(.link) {
	& .link {
		display: block;
		color: var(--color-subtle);
		border-radius: calc(var(--border-radius) - 1px);
	}
}

details > summary > .link {
	flex: auto;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: var(--size-16);
	align-items: baseline;
	font: var(--font-body);
	line-height: 1rem;
	padding: var(--size-4) var(--size-6);
	margin-inline-end: calc(var(--size-6) * -1);
}

.blog-post-preview {
	& > header > h2 > .link {
		--block-padding: var(--size-3);
		--inline-padding: var(--size-6);
		padding: var(--block-padding) var(--inline-padding);
		margin: calc(var(--block-padding) * -1) calc(var(--inline-padding) * -1);
	}

	& > .description-wrapper > .more-wrapper > .link {
		padding-block: var(--size-3);
		margin-inline-end: calc(var(--size-6) * -1);
		display: flex;
		align-items: center;
		gap: var(--size-4);

		& > svg {
			height: var(--size-12);
			width: var(--size-12);
			margin-inline-end: -1.5px;
		}
	}
}
