@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--border: 1px solid var(--color-border);
	--border-radius: var(--size-4);
	--color-black: var(--hue) 15% 20%;
	--color-brown: var(--hue) 15% 40%;
	--color-body: hsl(var(--color-black));
	--color-border: hsl(var(--color-black) / 25%);
	--color-hover: hsl(var(--color-brown) / 7.5%);
	--color-subtle: hsl(var(--color-brown));
	--color-surface-values: var(--hue) 100% 97%;
	--color-surface: hsl(var(--color-surface-values));
	--font-body: 300 var(--font-size-body) var(--font-family-body);
	--font-family-body: 'Merriweather', serif;
	--font-family-code: 'JetBrains Mono', monospace;
	--font-family-heading: 'Figtree', sans-serif;
	--font-size-body: var(--size-15);
	--font-size-code: var(--size-13);
	--font-size-subtle: var(--size-12);
	--font-subtle: 300 var(--font-size-subtle) var(--font-family-code);
	--hue: 40deg;
	--letter-spacing-body: 0.02rem;
	--shadow-color: var(--hue) 28% 61%;
	--shadow:
		0px 1px 1.3px hsl(var(--shadow-color) / 0.17),
		0px 1.8px 2.4px -0.6px hsl(var(--shadow-color) / 0.29),
		0px 4px 5.3px -1.2px hsl(var(--shadow-color) / 0.4);
	--size-0-25: calc(var(--unit) * 0.25);
	--size-0-5: calc(var(--unit) * 0.5);
	--size-1: var(--unit);
	--size-2: calc(var(--unit) * 2);
	--size-3: calc(var(--unit) * 3);
	--size-4: calc(var(--unit) * 4);
	--size-5: calc(var(--unit) * 5);
	--size-6: calc(var(--unit) * 6);
	--size-8: calc(var(--unit) * 8);
	--size-10: calc(var(--unit) * 10);
	--size-12: calc(var(--unit) * 12);
	--size-13: calc(var(--unit) * 13);
	--size-14: calc(var(--unit) * 14);
	--size-15: calc(var(--unit) * 15);
	--size-16: calc(var(--unit) * 16);
	--size-18: calc(var(--unit) * 18);
	--size-20: calc(var(--unit) * 20);
	--size-24: calc(var(--unit) * 24);
	--size-28: calc(var(--unit) * 28);
	--size-32: calc(var(--unit) * 32);
	--size-36: calc(var(--unit) * 36);
	--size-40: calc(var(--unit) * 40);
	--size-44: calc(var(--unit) * 44);
	--size-48: calc(var(--unit) * 48);
	--size-56: calc(var(--unit) * 56);
	--size-64: calc(var(--unit) * 64);
	--size-72: calc(var(--unit) * 72);
	--size-80: calc(var(--unit) * 80);
	--size-96: calc(var(--unit) * 96);
	--size-112: calc(var(--unit) * 112);
	--size-128: calc(var(--unit) * 128);
	--size-144: calc(var(--unit) * 144);
	--size-160: calc(var(--unit) * 160);
	--size-176: calc(var(--unit) * 176);
	--size-192: calc(var(--unit) * 192);
	--size-208: calc(var(--unit) * 208);
	--size-224: calc(var(--unit) * 224);
	--size-240: calc(var(--unit) * 240);
	--size-256: calc(var(--unit) * 256);
	--size-320: calc(var(--unit) * 320);
	--size-400: calc(var(--unit) * 400);
	--size-480: calc(var(--unit) * 480);
	--size-560: calc(var(--unit) * 560);
	--size-640: calc(var(--unit) * 640);
	--size-720: calc(var(--unit) * 720);
	--size-800: calc(var(--unit) * 800);
	--size-960: calc(var(--unit) * 960);
	--transition-speed: 150ms ease-in-out;
	--unit: 0.0625rem;
}

html,
body,
#layout {
	height: 100%;
}

#layout {
	color: var(--color-body);
	background: var(--color-surface);
	position: relative; /* helps visually hidden elements not impact scrolling */
	overflow: auto;
	display: grid;
	grid-template-columns: auto minmax(auto, var(--size-640)) auto;
	grid-template-rows: auto 1fr auto;
	column-gap: var(--size-16);
	scrollbar-width: thin;
	scrollbar-color: var(--color-border) transparent;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-border);
		border-radius: var(--border-radius);
	}

	& > :is(header, footer) {
		color: var(--color-subtle);
		padding-block: var(--size-8);
	}

	& > .header-shadow {
		box-shadow: var(--shadow);
		grid-column: 1 / -1;
		grid-row: 1;
		position: sticky;
		top: 0;
		height: 1rem;
		box-sizing: content-box;
		padding: var(--size-8);
	}

	& .header-shadow-blocker {
		grid-column: 1 / -1;
		grid-row: 1;
		background: var(--color-surface);
		height: calc(var(--size-48) - 1em - var(--size-16));
		margin-block-start: var(--size-32);
		position: relative;
	}

	& > header {
		grid-column: 1 / -1;
		grid-row: 1;
		display: grid;
		grid-template-columns: subgrid;
		position: sticky;
		top: 0;
		background: var(--color-surface);
		line-height: 1rem;
		margin-block-start: var(--size-48);

		& > nav {
			grid-column: 2;
			height: 1rem;

			& > ul {
				display: flex;
				align-items: center;
				gap: var(--size-3);

				& * {
					font-family: var(--font-family-code);
					font-size: var(--font-size-body);
					font-weight: 400;
				}

				& > li {
					& a {
						--inline-padding: var(--size-6);
						display: block;
						padding: var(--size-4) var(--inline-padding);
						margin-block: calc(var(--size-4) * -1);
					}

					&:first-child {
						margin-right: auto;

						& a {
							margin-inline-start: calc(var(--inline-padding) * -1);
						}
					}

					&:last-child {
						& a {
							margin-inline-end: calc(var(--inline-padding) * -1);
						}
					}
				}
			}
		}
	}

	& > main {
		grid-column: 2;

		& > article {
			& > header {
				margin-block-end: var(--size-24);

				& > h1 {
					font-size: var(--size-32);
				}
			}

			& > h2 {
				font-size: var(--size-24);
				margin-block-end: var(--size-8);
			}

			& > h3 {
				font-size: var(--size-16);
				margin-block-end: var(--size-4);
			}

			& > p {
				& + & {
					margin-block-start: var(--size-24);
				}

				& + h2 {
					margin-block-start: var(--size-48);
				}
			}
		}
	}

	& > footer {
		font-family: var(--font-family-code);
		font-size: var(--font-size-body);
		grid-column: 1 / -1;
		border-block-start: var(--border);
		margin-block-start: var(--size-128);
		line-height: 1em;

		display: grid;
		grid-template-columns: subgrid;

		& > :only-child {
			grid-column: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: background var(--transition-speed);
	border-radius: var(--border-radius);

	&:is(:hover, :focus-visible) {
		background: var(--color-hover);
	}

	&:focus-visible {
		outline: var(--border);
		outline-offset: -1px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Figtree', sans-serif;
	font-optical-sizing: auto;
}

p {
	font: var(--font-body);
	line-height: 2rem;
	letter-spacing: var(--letter-spacing-body);
}

ol,
ul {
	list-style: none;
}

*::selection {
	background: var(--color-hover);
}
