article.blog-post {
	margin-block-end: var(--size-64);

	& > header {
		margin-block-end: var(--size-24);

		& .publication-date {
			color: var(--color-subtle);
			font-family: var(--font-family-code);
			font-size: var(--font-size-body);
			line-height: 2;
		}
	}

	& p {
		& + & {
			margin-block-start: var(--size-24);
		}
	}
}
