.tabs {
	position: relative;

	& .tab-labels {
		display: flex;
		gap: var(--size-4);
		margin-block-end: 4px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;

		& label.tab-label {
			height: var(--size-24);
			display: flex;
			align-items: center;
			color: var(--color-subtle);
			padding-inline: var(--size-6);
			font-family: var(--font-family-heading);
			font-size: var(--font-size-subtle);
			letter-spacing: var(--letter-spacing);
			transition: background var(--transition-speed);
			border-radius: var(--border-radius);
			font-weight: 500;

			&:hover {
				cursor: pointer;
				background: var(--color-hover);
			}

			&:has(input[type='radio']:checked) {
				background: var(--color-hover);
			}

			&:has(
					input[type='radio']:focus-visible,
					input[type='radio']:checked:focus-visible
				) {
				background: var(--color-hover);
				outline: var(--border);
				outline-offset: -1px;
			}

			& input[type='radio'] {
				opacity: 0;
				width: 0px;
			}
		}
	}

	& .tab-content {
		display: none;
	}

	&:has(.pre-root .copy) {
		& .tab-labels {
			padding-inline-end: var(--size-24);
		}
	}
}
